@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon Management Portal</h1>

<p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>